<div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!--/.carousel-indicator -->
    <ol class="carousel-indicators">
        <li data-target="#header-carousel" data-slide-to="0" class="active"><span class="small-circle"></span></li>
        <li data-target="#header-carousel" data-slide-to="1"><span class="small-circle"></span></li>
        <li data-target="#header-carousel" data-slide-to="2"><span class="small-circle"></span></li>
    </ol>
    <!-- /ol-->
    <!--/.carousel-indicator -->
    <!--/.carousel-inner -->
    <div class="carousel-inner" role="listbox">
        <!-- .item -->
        <div class="item active">
            <div class="single-slide-item slide1">
                <div class="container">
                    <div class="welcome-hero-content">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="single-welcome-hero">
                                    <div class="welcome-hero-txt">
                                        <h4>great design collection</h4>
                                        <h2>cloth covered accent chair</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                        </p>
                                        <div class="packages-price">
                                            <p>
                                                $ 399.00
                                                <del>$ 499.00</del>
                                            </p>
                                        </div>
                                        <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
                      <span class="lnr lnr-plus-circle"></span>
                      add <span>to</span> cart
                    </button>

                                    </div>
                                    <!--/.welcome-hero-txt-->
                                </div>
                                <!--/.single-welcome-hero-->
                            </div>
                            <!--/.col-->
                            <div class="col-sm-5">
                                <div class="single-welcome-hero">
                                    <div class="welcome-hero-img">
                                        <img src="assets/images/slider1.png" alt="slider image">
                                    </div>
                                    <!--/.welcome-hero-txt-->
                                </div>
                                <!--/.single-welcome-hero-->
                            </div>
                            <!--/.col-->
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.welcome-hero-content-->
                </div>
                <!-- /.container-->
            </div>
            <!-- /.single-slide-item-->
        </div>
        <!-- /.item .active-->
        <div class="item">
            <div class="single-slide-item slide2">
                <div class="container">
                    <div class="welcome-hero-content">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="single-welcome-hero">
                                    <div class="welcome-hero-txt">
                                        <h4>Diseño exlusivo de colección</h4>
                                        <h2>Zapato de cuero fino</h2>
                                        <p>
                                            El mejor estilo de zapato formal, ideal para momentos profesionales y de gran relevancia, con un brillo que todos notarán
                                        </p>
                                        <div class="packages-price">
                                            <p>
                                                L. 199.00
                                                <del>L. 299.00</del>
                                            </p>
                                        </div>
                                        <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
                      <span class="lnr lnr-plus-circle"></span>
                      add <span>to</span> cart
                    </button>

                                    </div>
                                    <!--/.welcome-hero-txt-->
                                </div>
                                <!--/.single-welcome-hero-->
                            </div>
                            <!--/.col-->
                            <div class="col-sm-5">
                                <div class="single-welcome-hero">
                                    <div class="welcome-hero-img">
                                        <img src="assets/images/slider2.png" alt="slider image">
                                    </div>
                                    <!--/.welcome-hero-txt-->
                                </div>
                                <!--/.single-welcome-hero-->
                            </div>
                            <!--/.col-->
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.welcome-hero-content-->
                </div>
                <!-- /.container-->
            </div>
            <!-- /.single-slide-item-->
        </div>
        <!-- /.item .active-->
        <div class="item">
            <div class="single-slide-item slide3">
                <div class="container">
                    <div class="welcome-hero-content">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="single-welcome-hero">
                                    <div class="welcome-hero-txt">
                                        <h4>great design collection</h4>
                                        <h2>valvet accent arm chair</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                                        </p>
                                        <div class="packages-price">
                                            <p>
                                                $ 299.00
                                                <del>$ 399.00</del>
                                            </p>
                                        </div>
                                        <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
                      <span class="lnr lnr-plus-circle"></span>
                      add <span>to</span> cart
                    </button>
                                    </div>
                                    <!--/.welcome-hero-txt-->
                                </div>
                                <!--/.single-welcome-hero-->
                            </div>
                            <!--/.col-->
                            <div class="col-sm-5">
                                <div class="single-welcome-hero">
                                    <div class="welcome-hero-img">
                                        <img src="assets/images/slider3.png" alt="slider image">
                                    </div>
                                    <!--/.welcome-hero-txt-->
                                </div>
                                <!--/.single-welcome-hero-->
                            </div>
                            <!--/.col-->
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.welcome-hero-content-->
                </div>
                <!-- /.container-->
            </div>
            <!-- /.single-slide-item-->

        </div>
        <!-- /.item .active-->
    </div>
    <!-- /.carousel-inner-->
</div>
<!--/#header-carousel-->


<!--/.populer-products-->
<!--populer-products end-->
<!--new-arrivals start -->
<section id="departamentos" class="new-arrivals">
    <div class="container">
        <div class="section-header">
            <h2>Departamentos</h2>
        </div>
        <!--/.section-header-->
        <div class="new-arrivals-content ">
            <div class="row ">

                <a (click)="SendIdCategoria(departamento.Id)" *ngFor="let departamento of Departamentos" class="col-md-3 col-sm-4 scroll">
                    <div class="single-new-arrival">
                        <h1>{{departamento.Nombre}}</h1>
                        <br>
                        <div class="single-new-arrival-bg mt-2">
                            <img [src]="departamento.img" alt="new-arrivals images">
                            <div class="single-new-arrival-bg-overlay"></div>
                            <div class="new-arrival-cart">
                                <p>
                                    <span class="lnr lnr-cart"></span>
                                    <a href="#">Ir <span>a la </span> sección</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </a>


            </div>
        </div>
    </div>
    <!--/.container-->
</section>
<!--/.new-arrivals-->
<!--new-arrivals end -->
<div class="mx-auto">
    <section id="IdProductos">
        <div class="container">
            <div class="new-arrivals-content ">
                <div class="row ">

                    <div *ngFor="let product of getProductosPorDepartamento() ">

                        <app-item class="col-md-3 col-sm-4" [productos]="product"></app-item>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
