<header id="home" class="welcome-hero">

    <!-- top-area Start -->
    <div class="top-area">
        <div class="header-area">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
                <!-- Start Top Search -->
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- End Top Search -->
                <div class="container">
                    <app-cart></app-cart>


                    <!-- End Atribute Navigation -->
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
              <i class="fa fa-bars"></i>
            </button>
                        <a [routerLink]="['/Home']" class="navbar-brand">
                            <img class="imgLogo" src="assets/images/Logo.png" alt="">
                        </a>
                    </div>
                    <!--/.navbar-header-->
                    <!-- End Header Navigation -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class=" scroll active"><a href="#home">Inicio</a></li>
                            <li class="scroll"><a href="#departamentos">Departamentos</a></li>
                            <li class="scroll"><a href="#newsletter">Contáctenos</a></li>
                            <li class="scroll">
                                <a *ngIf="Confirm===false " [routerLink]="['login']"> <span class="badge bg-primary">Inicie Sesión <i
                                 class="fa fa-user"></i></span> </a>
                            </li>
                            <li class="scroll">
                                <a *ngIf="this.entro==='Entro' || Confirm===true" (click)="logout()"> <span class="badge bg-primary">Cerrar Sesión <i
                                 class="fa fa-user"></i></span> </a>

                            </li>
                            <li class="scroll" *ngIf="this.isAdmin && this.Confirm==true">
                                <a routerLink="/admin"> <span class="badge bg-primary">Administrar
                                  <i class="fa fa-cog"></i></span> </a>

                            </li>
                            <li *ngIf="!this.isAdmin" class="scroll">
                                <a *ngIf="this.entro==='Entro' || Confirm===true">
                                    <h6>Bienvenido {{NombreCiente}}</h6>
                                </a>

                            </li>
                        </ul>
                        <!--/.nav -->
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!--/.container-->
            </nav>
            <!--/nav-->
            <!-- End Navigation -->
        </div>
        <!--/.header-area-->
        <div class="clearfix"></div>
    </div>
    <!-- /.top-area-->
    <!-- top-area End -->
</header>
<!--/.welcome-hero-->
<!--welcome-hero end -->
